body {
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
  margin: 0;
}

.header-links {
  align-items: center;
  display: flex;
  height: 65px;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.header-links>* {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.header-links a {
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;

}

.header-profile {
  align-items: center;
  background-color: rgb(126, 42, 126);
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: space-between;
  width: 100%;
}

.header-profile img {
  margin-left: 20px;
}

.header-user {
  align-items: center;
  background-color: aliceblue;
  border-radius: 30px;
  display: flex;
  font-size: 18px;
  height: 47px;
  justify-content: space-between;
  margin-right: 20px;
  padding-right: 50px;
  width: 139px;
}

.header-user img {
  border-radius: 100px;
  height: 37px;
  margin: 6px;
  object-fit: cover;
  width: 37px;
}

.current-page {
  background-color: rgb(201, 84, 224);
}

.current-page a {
  color: aliceblue;
}

.search-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
}

.search-content h2 {
  font-weight: 280;
  margin: 45px 0;
}

.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
}

.album-card {
  background-color: rgb(243, 243, 243);
  border: 1px solid rgb(238, 232, 232);
  border-radius: 9px;
  height: 320px;
  margin: 20px;
  width: 210px;
}

.album-card img {
  border-radius: 9px;
  width: 210px;
}

.text-album-card {
  color: rgb(29, 28, 28);
  margin-left: 7px;
}

.album-card-div-link {
  text-decoration: none;
}

.search-text-input {
  border: 2px solid gray;
  border-radius: 9px;
  height: 30px;
  margin-top: 50px;
  width: 500px;
  font-size: 16px;
}

.search-button {
  background-color: rgb(132, 0, 255);
  border-radius: 4px;
  border: none;
  color: aliceblue;
  font-size: 16px;
  height: 34px;
  margin-left: 15px;
  width: 100px;
}

.music-card {
  align-items: center;
  display: flex;
  margin: 20px 0;
  width: 100%;
  justify-content: space-between;
}

.music-card audio {
  width: 350px;
}

.music-name {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 290;
  width: 150px;
}

.music-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 630px;
}

.album-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}

.album-info {
  display: flex;
  flex-direction: column;
}

.album-info h2 {
  font-size: 34px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.album-info h3 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 5px;
}

.album-info img {
  border-radius: 9px;
  width: 300px;
}

.break-line {
  background-color: rgb(221, 221, 221);
  height: 1px;
  margin-left: 57.72px;
  width: 80%;
}

.favorite-music-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 900px;
}

.favorite-music-card img {
  border-radius: 100%;
  height: 70px;
  margin-bottom: 40px;
  width: 70px;
}

.page-favorites {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.page-favorites h3 {
  font-size: 30px;
  font-weight: 290;
}

.profile-page {
  align-items: center;
  border-radius: 9px;
  border: solid 1px rgb(211, 207, 207);
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  width: 500px;
}

.profile-block img {
  border-radius: 100%;
  height: 170px;
  object-fit: cover;
  width: 170px;
}

.profile-block {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.profile-block h3 {
  font-weight: 400;
}

.profile-block p {
  font-size: 19px;
  font-weight: 300;
}

.profile-block a {
  background-color: rgb(121, 0, 101);
  border-radius: 9px;
  color: white;
  padding: 6px 14px;
  text-decoration: none;
}

.page-login form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-button {
  background-color: rgb(55, 48, 150);
  color: aliceblue;
  cursor: pointer;
}

.page-login form input {
  border-radius: 5px;
  border: none;
  font-size: 18px;
  height: 40px;
  margin: 16px 0;
  width: 500px;
}


.page-login {
  align-items: center;
  background-color: blueviolet;
  border-radius: 9px;
  border: solid 1px rgb(177, 173, 173);
  display: flex;
  height: 300px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  width: 700px;
}

#save {
  background-color: rgb(121, 0, 101);
  border-radius: 9px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 14px;
  text-decoration: none;
  width: 140px;
}